/* MOBILE FIRST DESIGN */
@media all and (min-width:210px){

    /* the main NAV element */
    .nav {
        position: relative;
        width: 100%;
        z-index: 1;
        width: 100%;
        height: 170px;
        background: #333834;
        display: flex;
        flex-direction: column;  
        justify-content: end;
        align-items: center;
    }

    .logo {
        position: relative;
        width: 80%;
        height: 120px;
        background: url(/images/logo/overwatch.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .menu-toggle {
        position: relative;
        background-color: #C7731E;
        width: 100%;
        color: white;
        font-size: 1.2em;
        font-weight: 600;
        user-select: none;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-divs {
        width: 100%;
    }

    .menu {
        position: absolute;
        top: 170px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: hidden;
    }

    .main-menu-item {
        padding: 25px 0 25px 0;
        margin: 0 auto;
        margin-bottom: 1px;
        background-color: #c7c7c7;
        width: 100%;
        color: #595959;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
    }

    
    /* CLOSED CLASS */
    .sub-menu {
        padding: 0;
        margin: 0;
        width: 100%;
        display: none;
        flex-direction: column;
    }
    /* OPEN CLASS */
    .open {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .sub-menu-item {
        position: relative;
        list-style: none;
        width: 100%;
        margin-bottom: 1px;
        padding: 25px 0 25px 0;
        background-color: #e8e8e8;
        display: flex;
        justify-content: center;
        color: #595959;
        text-transform: uppercase;
        font-weight: 600;
    }
/* end of mobile media query */
}




/* 850px */
@media all and (min-width:850px){
    /* the main NAV element */
    .nav { 
        width: 100%;
        height: 120px; 
        flex-direction: row;  
        justify-content: flex-end;
        align-items: center;
        border-bottom: 4px solid #D46F1E;
    }

    .logo {
        margin-right: 5px;
        position: relative;
        width: 20%;
    }

    .menu-toggle {
        display: none;
    }


    .menu {
        position: relative;
        margin-right: 5%;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        width: 70%;
        height: 100%;
        visibility: visible;
    }
    

    .main-menu-item {
        height: 100%;
        color: #c7c7c7;
        display: flex;
        justify-content: flex-end;
        /*  */
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        background: none;
        font-size: 0.7em;
        margin: 0;
        /* padding-left: 6px; */
    }
    

    .sub-menu {
        position: absolute;
        width: 150px;
        background: #E8E8E8;
        border-bottom: 4px solid #D46F1E;
        border-top: 4px solid #D46F1E;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        visibility: hidden;
        z-index: -1;
    }

    .sub-menu-item {
        position: relative;
        list-style: none;
        width: 100%;
        padding: 15px 0 15px 0;
        background-color: #e8e8e8;
        border-bottom: 1px solid #c7c7c7;
        display: flex;
        justify-content: center;
        color: #595959;
        text-transform: capitalize;
        font-weight: 400;
        
    }
    
    .menu-divs {
        height: 100%;
    }
    .menu-divs:last-child {
        text-align: right;
    }

    .menu-divs:hover .sub-menu {
        visibility: visible;
        animation: slideIn 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
        
    }
    .sub-menu-item:hover {
        background: #c7c7c7;
    }

    @keyframes slideIn {
        0% {
            transform: scale(0);
            transform-origin: 50% 0%;
            opacity: 1;
        }
        100% {
            transform: scale(1);
            transform-origin: 50% 0%;
            opacity: 1;
        }
      }

}


@media all and (min-width:1024px) {
    
    .logo {
        margin-left: 10%;
        position: relative;
        width: 20%;
    }
    
    .menu {
        margin-right: 10%;
        width: 60%;

    }
    
}